<div class="form-group" style="position: relative;">
	<div class="ui-cities" style="z-index:10;">
		<div class="col" ng-show="goodsIsShow">
			<ul class="list">
				<li data-value="{{item.id}}" ng-repeat="item in goods">
					<span class="check" ng-class="{true: 'u-bg-red', false: 'u-bg-white'}[item.isChecked]" ng-click="goodsChecked(item)">.</span>
					<span class="name">{{item.name}}</span>
					<span class="expend" ng-class="{true: 'u-ricon', false: ''}[item.isChecked]" ng-click="showSecond(item)">.</span>
				</li>
			</ul>
			<div class="extra">
				<a class="checkall" href="javascript:;" ng-click="checkedAll('goods')">全选</a>
				<a class="clearall" href="javascript:;" ng-click="removeAll('goods')">清空</a>
			</div>
		</div>
		<div class="col" ng-show="secondIsShow">
			<ul class="list">
				<li data-value="{{item.id}}" ng-repeat="item in secondGoods">
					<span class="check" ng-class="{true: 'u-bg-red', false: 'u-bg-white'}[item.isChecked]" ng-click="secondChecked(item)">.</span>
					<span class="name">{{item.name}}</span>
					<span class="expend" ng-class="{true: 'u-ricon', false: ''}[item.isChecked]" ng-click="showThird(item)">.</span>
				</li>
			</ul>
			<div class="extra">
				<a class="checkall" href="javascript:;" ng-click="checkedAll('second')">全选</a>
				<a class="clearall" href="javascript:;" ng-click="removeAll('second')">清空</a>
			</div>
		</div>
		<div class="col" ng-show="thirdIsShow">
			<ul class="list">
				<li data-value="{{item.id}}" ng-repeat="item in thirdGoods">
					<span class="check" ng-class="{true: 'u-bg-red', false: 'u-bg-white'}[item.isChecked]" ng-click="thirdChecked(item)">.</span>
					<span class="name">{{item.name}}</span>
					<span class="expend">.</span>
				</li>
			</ul>
			<div class="extra">
				<a class="checkall" href="javascript:;" ng-click="checkedAll('third')">全选</a>
				<a class="clearall" href="javascript:;" ng-click="removeAll('third')">清空</a>
			</div>
		</div>
	</div>
	<input type="text" class="form-control u-bg-white user-category-check" readonly placeholder="选择品类"> 
	<i class="fa fa-sort-down u-icon"></i>
</div>