<form class="form-horizontal">
	<div class="modal-header">
		<h4 class="modal-title">添加内容模块 <button aria-label="Close" ng-click="cancel()" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button></h4>
		
	</div>
	<div class="modal-body">
		<div class="form-group">
			<label class="col-sm-2 control-label">字段名称</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" ng-model="adddata.name" >
			</div>
		</div>
		<div class="form-group zdlx">
            <label class="col-sm-2 control-label" >字段类型</label>
            <div class="col-sm-10">
                <label class="radio-inline">
					<input type="radio" ng-click="checkway('text')" value="text"  name="zdtype" checked="checked">文本框
				</label>
				<label class="radio-inline">
					<input type="radio" ng-click="checkway('radio')" value="radio" name="zdtype" >单选框
				</label>
				<label class="radio-inline">
					<input type="radio" ng-click="checkway('checkbox')" value="checkbox" name="zdtype" >多选框
				</label>
				<label class="radio-inline">
					<input type="radio" ng-click="checkway('select')" value="select" name="zdtype" >下拉框
				</label>
				<button class="btn fr txmore" type="button" ng-click = "moretoggle()">
				  <span class="glyphicon glyphicon-plus" ></span> 更多文本框设置 
				</button>
            </div>
        </div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label">字段长度</label>
			<div class="col-sm-10">
			   <div class = "textbox">
			     <input type="text" class="form-control textx" ng-model="zdcd" >
			     <textarea class="form-control areat" style="display:none" rows='6' ng-model="zdcdbg"></textarea>
			   </div> 
			   <div class="dtbox" style="display:none">
			        <input ng-repeat="input in inputlist" type="text" class="form-control xxtext" placeholder="属性{{input.num}}"  ng-model="input.sx"    >
			     <!--  <input type="text" class="form-control xxtext" placeholder="属性1" ng-model="sx.no1"> 
	                <input type="text" class="form-control xxtext" placeholder="属性2" ng-model="sx.no2"> 
	               <input type="text" class="form-control xxtext" placeholder="属性3" ng-model="sx.no3">    
	               <input type="text" class="form-control xxtext" placeholder="属性4" ng-model="sx.no4"> 
	               <input type="text" class="form-control xxtext" placeholder="属性5" ng-model="sx.no5"> -->

	               <input type="button" class='btn btn-default navbar-btn add' value="添加" ng-click="addtext()">
			   </div>		
			     		
				
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="adddatafun()">确定</button>
		<button class="btn btn-default" type="button" ng-click="">取消</button>
	</div>
</form>