<div class="row">
	<div class="col-md-2">
		<img class="bfd-logo-bm" src="images/logo-bottom.png"/>
	</div>
	<div class="col-md-2">
		<span class="u-p8 u-b-r2"><a href="http://www.baifendian.com/list.php?catid=32" target="_blank">公司简介</a></span>
		<span class="u-p8"><a href="http://www.baifendian.com/list.php?catid=43" target="_blank">联系我们</a></span>
	</div>
	<div class="col-md-8 bfd-text-footer">
		<span class="u-p8 u-b-r2">Copyright© 2016 Baifendian Corporation All Rights Reserved.</span>
		<span class="u-p8 u-b-r2">京ICP备09109727号</span>
		<span class="u-p8" >京公网安备11010802010283号</span>
	</div>
</div>