<style type="text/css">.err{color: #f44336;}.y-imgh{height: 164px;}</style>
<form name="form" class="form-validation" novalidate>
  <div class="modal-header">
    <h4 class="modal-title">产品修改</h4>
  </div>
  <div class="modal-body">
    <div class="panel panel-default">     
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-6 m-b">
            <label>产品编号</label>
            <input type="text" class="form-control" ng-model="products.productCode" name="productCode" required>
            <div ng-show="form.productCode.$dirty && form.productCode.$invalid">
              <span class="err" ng-show="form.productCode.$error.required">请填写产品编号</span>
            </div>
          </div>
          <div class="col-sm-6 m-b">
            <label>实际数量</label>
            <input type="text" class="form-control" ng-model="products.qty" name="qty" ng-pattern="/^[1-9]*$/" required>
            <div ng-show="form.qty.$dirty && form.qty.$invalid">
              <span class="err" ng-show="form.qty.$error.required">请填写实际数量</span>
              <span class="err" ng-show="!form.qty.$error.required && form.qty.$error">实际数量必须大于0</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 m-b">
            <label>简要说明</label>
            <textarea type="text" class="form-control" ng-model="products.shortDesc" name="shortDesc" ng-minlength="4" rows="4"></textarea>
            <div ng-show="form.shortDesc.$dirty && form.shortDesc.$invalid">
              <span class="err" ng-show="form.shortDesc.$error">简要说明的长度大于等于4</span>
            </div>
          </div>
          <div class="col-sm-6 m-b">
            <label>详细说明</label>
            <textarea class="form-control" ng-model="products.prodDESC" rows="4"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 m-b">
            <label>数量1</label>
            <input type="text" class="form-control" ng-model="products.qty1" name="qty1" ng-pattern="/^[1-9]*$/" required>
            <div ng-show="form.qty1.$dirty && form.qty1.$invalid">
              <span class="err" ng-show="form.qty1.$error.required">请填写数量1</span>
              <span class="err" ng-show="!form.qty1.$error.required && form.qty1.$error">数量1必须大于0</span>
            </div>
          </div>
          <div class="col-sm-6 m-b">
            <label>价格1</label>
            <input type="text" class="form-control" ng-model="products.priceEx1" name="priceEx1" ng-pattern="/^(:?(:?\d+.\d+)|(:?\d+))$/" required>
            <div ng-show="form.priceEx1.$dirty && form.priceEx1.$invalid">
              <span class="err" ng-show="form.priceEx1.$error.required">请填写价格1</span>
              <span class="err" ng-show="!form.priceEx1.$error.required && form.priceEx1.$error">价格1填写的格式不对</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 m-b">
            <label>数量2</label>
            <input type="text" class="form-control" ng-model="products.qty2" name="qty2" ng-pattern="/^[1-9]*$/" required>
            <div ng-show="form.qty2.$dirty && form.qty2.$invalid">
              <span class="err" ng-show="form.qty2.$error.required">请填写数量2</span>
              <span class="err" ng-show="!form.qty2.$error.required && form.qty2.$error">数量2填写的格式不对</span>
            </div>
          </div>
          <div class="col-sm-6 m-b">
            <label>价格2</label>
            <input type="text" class="form-control" ng-model="products.priceEx2" name="priceEx2" ng-pattern="/^(:?(:?\d+.\d+)|(:?\d+))$/" required>
            <div ng-show="form.priceEx2.$dirty && form.priceEx2.$invalid">
              <span class="err" ng-show="form.priceEx2.$error.required">请填写价格2</span>
              <span class="err" ng-show="!form.priceEx2.$error.required && form.priceEx2.$error">价格2填写的格式不对</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 m-b">
            <label>数量3</label>
            <input type="text" class="form-control" ng-model="products.qty3" name="qty3" ng-pattern="/^[1-9]*$/" required>
            <div ng-show="form.qty3.$dirty && form.qty3.$invalid">
              <span class="err" ng-show="form.qty3.$error.required">请填写数量3</span>
              <span class="err" ng-show="!form.qty3.$error.required && form.qty3.$error">数量3填写的格式不对</span>
            </div>
          </div>
          <div class="col-sm-6 m-b">
            <label>价格3</label>
            <input type="text" class="form-control" ng-model="products.priceEx3" name="priceEx3" ng-pattern="/^(:?(:?\d+.\d+)|(:?\d+))$/" required>
            <div ng-show="form.priceEx3.$dirty && form.priceEx3.$invalid">
              <span class="err" ng-show="form.priceEx3.$error.required">请填写价格3</span>
              <span class="err" ng-show="!form.priceEx3.$error.required && form.priceEx3.$error">价格3填写的格式不对</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 m-b">
            <label>价格</label>
            <input type="text" class="form-control" ng-model="products.cost" name="cost" ng-pattern="/^(([0-9]+\.[0-9]*[1-9][0-9]*)|([0-9]*[1-9][0-9]*\.[0-9]+)|([0-9]*[1-9][0-9]*))$/" required>
            <div ng-show="form.cost.$dirty && form.cost.$invalid">
              <span class="err" ng-show="form.cost.$error.required">请填写价格</span>
              <span class="err" ng-show="!form.cost.$error.required && form.cost.$error">价格必须大于0</span>
            </div>
          </div>
          <div class="col-sm-6 m-b">
            <label>折扣</label>
            <input type="text" class="form-control" ng-model="products.discontinue" name="discontinue" ng-pattern="/^(:?(:?\d+.\d+)|(:?\d+))$/">
            <div ng-show="form.discontinue.$dirty && form.discontinue.$invalid">
              <span class="err" ng-show="form.discontinue.$error">折扣填写的格式不对</span>
            </div>
          </div>
        </div>
        <!--单位和分类-->      
        <div class="row">
          <div class="col-sm-6 m-b">
            <label>单位</label>         
            <select class="form-control" ng-model="products.unitID">
              <option ng-repeat="unit in units" value="{{unit.unitId}}">{{unit.name}}</option>
            </select>
          </div>
          <div class="col-sm-6 m-b">
            <label>分类</label>           
            <select class="form-control" ng-model="products.categoryID">
              <option ng-repeat="category in categories" value="{{category.categoryId}}">{{category.name}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 m-b">
            <label>重量(kg)</label>
            <input type="text" class="form-control" ng-model="products.weightKG" name="weightKG" ng-pattern="/^(([0-9]+\.[0-9]*[1-9][0-9]*)|([0-9]*[1-9][0-9]*\.[0-9]+)|([0-9]*[1-9][0-9]*))$/">
            <div ng-show="form.weightKG.$dirty && form.weightKG.$invalid">
              <span class="err" ng-show="form.weightKG.$error">重量(kg)必须大于0</span>
            </div>
          </div>
          <div class="col-sm-6 m-b">
            <label>宽度(cm)</label>
            <input type="text" class="form-control" ng-model="products.widthCM" name="widthCM" ng-pattern="/^(([0-9]+\.[0-9]*[1-9][0-9]*)|([0-9]*[1-9][0-9]*\.[0-9]+)|([0-9]*[1-9][0-9]*))$/">
            <div ng-show="form.widthCM.$dirty && form.widthCM.$invalid">
              <span class="err" ng-show="form.widthCM.$error">宽度(cm)必须大于0</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 m-b">
            <label>高度(cm)</label>
            <input type="text" class="form-control" ng-model="products.heightCM" name="heightCM" ng-pattern="/^(([0-9]+\.[0-9]*[1-9][0-9]*)|([0-9]*[1-9][0-9]*\.[0-9]+)|([0-9]*[1-9][0-9]*))$/">
            <div ng-show="form.heightCM.$dirty && form.heightCM.$invalid">
              <span class="err" ng-show="form.heightCM.$error">高度(cm)必须大于0</span>
            </div>
          </div>
          <div class="col-sm-6 m-b">
            <label>深度(cm)</label>
            <input type="text" class="form-control" ng-model="products.depthCM" name="depthCM" ng-pattern="/^(([0-9]+\.[0-9]*[1-9][0-9]*)|([0-9]*[1-9][0-9]*\.[0-9]+)|([0-9]*[1-9][0-9]*))$/">
            <div ng-show="form.depthCM.$dirty && form.depthCM.$invalid">
              <span class="err" ng-show="form.depthCM.$error">深度(cm)必须大于0</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 m-b">
            <label>每盒产品数量</label>
            <input type="text" class="form-control" ng-model="products.cartonQty" name="cartonQty" ng-pattern="/^[1-9]*$/" required>
            <div ng-show="form.cartonQty.$dirty && form.cartonQty.$invalid">
              <span class="err" ng-show="form.cartonQty.$error.required">请填写每盒产品数量</span>
              <span class="err" ng-show="!form.cartonQty.$error.required && form.cartonQty.$error">每盒产品数量必须大于0</span>
            </div>
          </div>
          <div class="col-sm-6 m-b">
            <label>每盒数量</label>
            <input type="text" class="form-control" ng-model="products.numOfCarton" name="numOfCarton" ng-pattern="/^[1-9]*$/" required>
            <div ng-show="form.numOfCarton.$dirty && form.numOfCarton.$invalid">
              <span class="err" ng-show="form.numOfCarton.$error.required">请填写每盒数量</span>
              <span class="err" ng-show="!form.numOfCarton.$error.required && form.numOfCarton.$error">每盒数量必须大于0</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 m-b">
            <label>最少购买数量</label>
            <input type="text" class="form-control" ng-model="products.minPurchaseQty" name="minPurchaseQty" ng-pattern="/^[1-9]*$/" required>
            <div ng-show="form.minPurchaseQty.$dirty && form.minPurchaseQty.$invalid">
              <span class="err" ng-show="form.minPurchaseQty.$error.required">请填写最少购买数量</span>
              <span class="err" ng-show="!form.minPurchaseQty.$error.required && form.minPurchaseQty.$error">最少购买数量必须大于0</span>
            </div>
          </div>
          <div class="col-sm-6 m-b">
            <label>条形码</label>
            <input type="text" class="form-control" ng-model="products.productBarcode" name="productBarcode" ng-minlength="4">
            <div ng-show="form.productBarcode.$dirty && form.productBarcode.$invalid">
              <span class="err" ng-show="form.productBarcode.$error">条形码的长度大于等于4</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 m-b">
            <label>图片</label>
            <!--ng-model="products.imageURL"-->
            <img src="https://www.baidu.com/img/bd_logo1.png" class="form-control y-imgh"></div>
          <div class="col-sm-6 m-b hide">
            <label>ProductID</label>
            <input type="text" class="form-control" ng-model="products.productID"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-info" ng-disabled="form.$pristine" ng-click="ok()">确定</button>
    <button class="btn btn-default" type="button" ng-click="cancle()">取消</button>
  </div>
</form>