<div class="bfd-content">

	<h3>复选框</h3>
	<h5>初始时</h5>
	<label class="md-check">
		<input type="checkbox"> <i></i>
		选择
	</label>

	<h5>禁用时</h5>
	<label class="md-check">
		<input type="checkbox" disabled> <i></i>
		选择
	</label>

	<h5>CheckboxGroup</h5>
	<div style="margin-bottom: 10px;">
		<label class="md-check">
			<input type="checkbox" name="tel" ng-model="tel.apple">
			<i></i>
			苹果
		</label>
		<label class="md-check">
			<input type="checkbox" name="tel" ng-model="tel.mi">
			<i></i>
			小米
		</label>
		<label class="md-check">
			<input type="checkbox" name="tel" ng-model="tel.samsung">
			<i></i>
			三星
		</label>
	</div>

	<pre>{{tel|json}}</pre>
</div>