<style type="text/css">
	.md-select-label{height: 30px!important;}
</style>
<div class="bfd-content">
	<h1>学习网站资料管理</h1>	
	<div class="row mt-20">
		<div class="col-md-4">
			<button class="btn btn-primary" ng-click="add()" disabled>添加</button>
		</div>
		<div class="col-md-4">
			<div class="form-group form-horizontal">
				<label class="col-sm-2" style="line-height: 36px;">类型：</label>
				<div class="col-sm-9">					
					<md-select ng-model="type" placeholder="请选择" ng-change="loadData()">
						<md-option ng-value="opt.value" ng-repeat="opt in genreList">{{ opt.name }}</md-option>
					</md-select>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="请输入名称进行查询" ng-model="keywords">
				<span class="input-group-btn">
					<button class="btn btn-primary" type="button" ng-click="loadData()"> <i class="fa fa-search"></i>
						搜索
					</button>
				</span>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-body">			
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr >
							<th class="text-left">序号</th>
							<th class="text-left">名称</th>
							<th class="text-left">网址</th>
							<th class="text-left">描述</th>							
							<th class="text-left">操作</th>														
						</tr>
					</thead>
					<tbody>
						<tr  ng-repeat="item in studys">
							<td class="text-left">{{(currentPage-1)*pageSize+$index+1}}</td>
							<td class="text-left">
								<span popover="{{item.host_name}}" popover-trigger="mouseenter" popover-placement="bottom">{{item.host_name||'-'}}</span>
							</td>
							<td class="text-left">
								<span popover="{{item.url}}" popover-trigger="mouseenter" popover-placement="bottom">{{item.url||'-'}}</span>
							</td>
							<td class="text-left">
								<span popover="{{item.desc}}" popover-trigger="mouseenter" popover-placement="bottom">{{item.desc||'-'}}</span>
							</td>															
							<td class="edit text-left">
								<a href ="javascript:volid(0);" class="fa fa-pencil-square-o i-16" title="编辑" ng-click="edit(item)" style="pointer-events: none;"></a>
								<a href="javascript:;" class="fa fa-trash i-16" title="删除" confirm-click="delete(item)" confirm-msg="是否删除？" style="pointer-events: none;"></a>
								<a href="{{item.url}}" target="_blank" class="fa fa-eye i-16" title="查看"></a>
							</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="6">
								<bfd-pagination total="totalItems" ng-model="currentPage" page-size="pageSize" max-size="maxSize" change="loadData()"></bfd-pagination>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
</div>