<div class="bfd-content">
	
	<h3>全局提示</h3>
	<pre>
1.注入utils服务。
2.调用message函数。</pre>
	<h5>手动关闭</h5>
	<button type="button" class="btn btn-success bfd-btn" ng-click="success('close')">成功</button>
	<button type="button" class="btn btn-warning bfd-btn" ng-click="warning('close')">警告</button>
	<button type="button" class="btn btn-danger bfd-btn" ng-click="error('close')">失败</button>
	<h5>自动关闭</h5>
	<button type="button" class="btn btn-success bfd-btn" ng-click="success()">成功</button>
	<button type="button" class="btn btn-warning bfd-btn" ng-click="warning()">警告</button>
	<button type="button" class="btn btn-danger bfd-btn" ng-click="error()">失败</button>

	
</div>