<div class="bfd-content">
	<h3>分页条</h3>
	<pre>
&lt;bfd-pagination total="totalItems" ng-model="currentPage" page-size="pageSize" max-size="maxSize" change="loadData()"&gt;
&lt;/bfd-pagination&gt;

1.引入指令bfdPagination。
2.total number 总条数。
3.pageSize number 每页条数。
4.maxSize number 分页条长度。
5.change func 函数回调。
</pre>
	<bfd-pagination total="totalItems" ng-model="currentPage" page-size="pageSize" max-size="maxSize" change="loadData()"></bfd-pagination>
	<hr/>
	<pre>当前页码：{{currentPage}}</pre>					
</div>