<div class="bfd-content">
	<h3>单选框</h3>
	<div class="radio">
		<label class="ui-checks">
			<input name="status_g" ng-model="status" type="radio" value="1"> <i></i>
			启用
		</label>
		<label class="ui-checks">
			<input name="status_g" ng-model="status" type="radio" value="0"> <i></i>
			禁用
		</label>
	</div>
	<pre>{{status}}</pre>
	<h5>禁用时</h5>
	<div class="radio">
		<label class="ui-checks">
			<input name="status_s" type="radio" disabled> <i></i>
			三星
		</label>		
	</div>
</div>