<div class="bfd-content">
	<h3>文件上传</h3>
	<h5>基于angular-file-upload，进行改造，筛选相关功能，修改相关的样式，并且封装成ucFileUpload指令。</h5>
	<pre>
1.引入angular-file-upload,npm install angular-file-upload;
<a href="https://github.com/nervgh/angular-file-upload" target="_blank">2.更多API请查看angular-file-upload官方文档。</a></pre>
<h5>如何使用</h5>
<pre>
1.引入ucFileUpload指令：&lt;uc-file-upload upload="uploader()" result="upload" url="upload.do"&gt;&lt;/uc-file-upload&gt;;
2.url string 上传接口;
3.upload func 回调函数;
4.result string 上传完成后，后台的返回数据。</pre>
	<uc-file-upload upload="uploader()" result="upload" url="https://angular-file-upload-cors-srv.appspot.com/upload"></uc-file-upload>
</div>

