<div class="bfd-content">
	<h3>日期选择</h3>
	<pre>
&lt;input ng-model="time" event-change="changed()" bfd-datetime readonly
	placeholder="请选择"/&gt;

1.引入指令bfd-datetime。
2.回调函数event-change。
3.数据绑定ng-model。
</pre>
	<h5>单选日期</h5>
	<div class="bfd-date" style="width: 300px;">
		<input class="form-control" ng-model="time" event-change="changed()" bfd-datetime readonly placeholder="请选择"/>
	</div>

	<h5>多选日期</h5>
	<div class="form-group bfd-date-range">
		<div class="input-group">
			<input class="form-control d-i-t dr-t it-30" ng-model="startTime" event-change="dateChanged()" bfd-datetime readonly placeholder="开始时间"/>
			<div class="input-group-addon">至</div>
			<input class="form-control d-i-t dl-t it-30" ng-model="endTime" event-change="dateChanged()" bfd-datetime readonly placeholder="结束时间"/>

		</div>
	</div>

</div>