<div class="bfd-content">
	<h3>拖动条</h3>			
<pre>1.引入指令slider：
&lt;slider ng-model="flow_ration" 
  step="5" 
  floor="0"
  ceiling="100" 
  translate-fn="currencyFormatting" 
  index="index_id"&gt;&lt;/slider&gt;；
2.ngModel number 当前百分比数；	
3.step number 拖动时的最小进度数；
4.floor number 开始刻度；
5.ceiling number 结束刻度；
6.translate-fn func 格式化；
7.index string 唯一标识。	</pre>
	<div class="col-md-6 bfd-form">
		<slider ng-model="flow_ration" step="5" floor="0" ceiling="100"  translate-fn="currencyFormatting" index="index_id"	></slider>
		<pre>当前百分比：{{flow_ration}}%</pre>
	</div>	
</div>