<div id="footer" class="u-footer bfd-login">
  <div class="row" style="padding-right: 50px;padding-top: 3px;padding-bottom: 2px;">
    <div class="col-md-2">
      <img class="bfd-logo-bm login-logo" src="images/login-logo-bottom.png"/>
    </div>
    <div class="col-md-10 bfd-text-footer">
      <div style="margin-bottom: 4px;">
        <span class="u-p8 u-b-r2 fz-t"><a href="http://www.baifendian.com/list.php?catid=32" target="_blank">公司简介</a></span>
        <span class="u-p8 u-b-r2 fz-t" ><a href="http://www.baifendian.com/list.php?catid=43" target="_blank">联系我们</a></span>
        <span class="u-p8 u-b-r2 fz-t">隐私声明</span>
        <span class="u-p8 u-b-r2 fz-t">使用条款</span>
        <span class="u-p8 fz-t">商标</span>
      </div>
      <div>
        <span class="u-p8  fz-b l-b-r2">Copyright© 2016 Baifendian Corporation All Rights Reserved.</span>
        <span class="u-p8  fz-b l-b-r2">京ICP备09109727号</span>
        <span class="u-p8 fz-b">京公网安备11010802010283号</span>
      </div>
    </div>
  </div>
</div>

