<style type="text/css">.bfd-form .error {margin-left: 0px;}</style>
<div class="center-block w-xxl w-auto-xs p-v-md bg u-bg" style=" padding-top:90px;">
  <div class="text-center">
    <img src="images/0001_BPS_LOGIN-logo.png" style="height: 248px;margin-bottom: 28px;" />   
  </div>
  <div class="p-lg panel md-whiteframe-z1 text-color m">
    <form class="bfd-form" name="sginin" novalidate ng-submit="ok()">
      <div class="form-group">
        <input type="text" ng-model="user.username" name="username" class="form-control" placeholder="填写用户名" required/>        
        <div ng-show="sginin.username.$dirty && sginin.username.$invalid">       
          <span class="error" style="margin-top: 2px;" ng-show="sginin.username.$error.required">用户名不能为空</span>
        </div>
      </div>
      <div class="form-group">
        <input type="password" ng-model="user.password" name="password" class="form-control"  placeholder="请输入密码"/>
        <div ng-show="sginin.password.$dirty && sginin.password.$invalid">       
          <span class="error" style="margin-top: 2px;" ng-show="sginin.password.$error.required">密码不能为空</span>
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-lg btn-block" style="padding: 4px 0;" ng-disabled="sginin.$invalid">登录</button>
    </form>
  </div>
</div>