<style type="text/css">.u-child-list{display: none;}</style>
<ul class="navi side-menu" aside>
	<li>
		<a href="javascript:;"> <i class="fa fa-tags"></i>
			Bootstrap示例
		</a>
		<ul class="u-child-list">
			<li>
				<a href="javascript:;" ui-sref="app.boot-btn"  ng-class="{true: 'u-active'}[menuItem =='app.boot-btn']">按钮</a>
			</li>
			<li>
				<a href="javascript:;" ui-sref="app.boot-form" ng-class="{true: 'u-active'}[menuItem =='app.boot-form']">表单(基本)</a>
			</li>
			<li>
				<a href="javascript:;" ui-sref="app.boot-form-validation" ng-class="{true: 'u-active'}[menuItem =='app.boot-form-validation']">表单(验证)</a>
			</li>
			<li>
				<a href="javascript:;" ui-sref="app.boot-form-element" ng-class="{true: 'u-active'}[menuItem =='app.boot-form-element']">表单(元素)</a>
			</li>
			<li>
				<a href="javascript:;" ui-sref="app.boot-arrows" ng-class="{true: 'u-active'}[menuItem =='app.boot-arrows']">箭头</a>
			</li>
		</ul>
	</li>
	<li>
		<a href="javascript:;"> <i class="glyphicon glyphicon-align-right"></i>
			组件
		</a>
		<ul class="u-child-list">
			<li>
				<a href="javascript:;" ui-sref="app.component-nav"  ng-class="{true: 'u-active'}[menuItem =='app.component-nav']">导航</a>
			</li>
			<li>
				<a href="javascript:;">test</a>
			</li>
			<li>
				<a href="javascript:;">test</a>
			</li>
		</ul>
	</li>
	<li>
		<a href="javascript:;">
			<i class="fa fa-clipboard"></i>
			jQuery插件(Angular)
		</a>
		<ul class="u-child-list">			
			<li>
				<a href="javascript:;">test</a>
			</li>
			<li>
				<a href="javascript:;">test</a>
			</li>
		</ul>
	</li>
	<li>
		<a href="javascript:;">
			<i class="fa fa-bars"></i>
			AngularJS
		</a>
		<ul class="u-child-list">
			<li>
				<a href="javascript:;" ui-sref="app.angular-tag"  ng-class="{true: 'u-active'}[menuItem =='app.angular-tag']">标签库</a>
			</li>			
		</ul>
	</li>
	<li>
		<a href="javascript:;">
			<i class="fa fa-star"></i>
			其他
		</a>
		<ul class="u-child-list">
			<li>
				<a href="javascript:;">test</a>
			</li>
			<li>
				<a href="javascript:;">test</a>
			</li>
			<li>
				<a href="javascript:;">test</a>
			</li>
		</ul>
	</li>
</ul>