<style type="text/css">.u-p16{padding: 0 16px;}</style>
<div class="modal-header">
  <h3 class="modal-title">产品详情</h3>
</div>
<div class="modal-body">
  <form class="form-horizontal" role="form">
    <div class="form-group" style="margin-top:20px;">
      <label  class="col-sm-3 control-label">qty1</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" ng-model="bean.qty1"></div>
        <a ng-click="collapsed=!collapsed;flag=!flag"> <i class="text-lg m-t-sm pull-left u-p16" ng-class="{'mdi-content-remove': collapsed, 'mdi-content-add': !collapsed}"></i>
        </a>
    </div>
    <div class="form-group" ng-show="flag">
      <label  class="col-sm-3 control-label">qty2</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" ng-model="bean.qty2"></div>
    </div>
    <div class="form-group" ng-show="flag">
      <label  class="col-sm-3 control-label">qty3</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" ng-model="bean.qty3"></div>
    </div>
    <div class="form-group" ng-show="flag">
      <label  class="col-sm-3 control-label">priceEx1</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" ng-model="bean.priceEx1"></div>
    </div>
    <div class="form-group" ng-show="flag">
      <label  class="col-sm-3 control-label">priceEx2</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" ng-model="bean.priceEx2"></div>
    </div>
    <div class="form-group" ng-show="flag">
      <label  class="col-sm-3 control-label">priceEx3</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" ng-model="bean.priceEx3"></div>
    </div>
    <div class="form-group" ng-show="flag">
      <label  class="col-sm-3 control-label">soPending</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" ng-model="bean.soPending"></div>
    </div>
    <div class="form-group" ng-show="flag">
      <label  class="col-sm-3 control-label">siPending</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" ng-model="bean.siPending"></div>
    </div>
    <div class="form-group" ng-show="flag">
      <label  class="col-sm-3 control-label">siboPending</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" ng-model="bean.siboPending"></div>
    </div>
    <div class="form-group" ng-show="flag">
      <label  class="col-sm-3 control-label">soboPending</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" ng-model="bean.soboPending"></div>
    </div>
    <div class="form-group">
      <label  class="col-sm-3 control-label">prestock</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" ng-model="bean.prestock"></div>
        <a ng-click="collapsed2=!collapsed2;flag2=!flag2"> <i class="text-lg m-t-sm pull-left u-p16" ng-class="{'mdi-content-remove': collapsed2, 'mdi-content-add': !collapsed2}"></i>
        </a>
    </div>
    <div class="form-group" ng-show="flag2">
      <label  class="col-sm-3 control-label">sysCost</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" ng-model="bean.sysCost"></div>
    </div>
    <div class="form-group" ng-show="flag2">
      <label  class="col-sm-3 control-label">demoPending</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" ng-model="bean.demoPending"></div>
    </div>
    <div class="form-group" ng-show="flag2">
      <label  class="col-sm-3 control-label">reservedPending</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" ng-model="bean.reservedPending"></div>
    </div>
    <div class="form-group" ng-show="flag2">
      <label  class="col-sm-3 control-label">supplierId</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" ng-model="bean.supplierId"></div>
    </div>
    <div class="form-group" ng-show="flag2">
      <label  class="col-sm-3 control-label">statusID</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" ng-model="bean.statusID"></div>
    </div>
    <div class="form-group" ng-show="flag2">
      <label  class="col-sm-3 control-label">productID</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" ng-model="bean.productID"></div>
    </div>
    <div class="form-group" ng-show="flag2">
      <label  class="col-sm-3 control-label">productCode</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" ng-model="bean.productCode"></div>
    </div>
    <div class="form-group" ng-show="flag2">
      <label  class="col-sm-3 control-label">productBarcode</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" ng-model="bean.productBarcode"></div>
    </div>
    <div class="form-group" ng-show="flag2">
      <label  class="col-sm-3 control-label">discontinue</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" ng-model="bean.discontinue"></div>
    </div>
    <div class="form-group">
      <label  class="col-sm-3 control-label">warningRelocation</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" ng-model="bean.warningRelocation"></div>
        <a ng-click="collapsed3=!collapsed3;flag3=!flag3"> <i class="text-lg m-t-sm pull-left u-p16" ng-class="{'mdi-content-remove': collapsed3, 'mdi-content-add': !collapsed3}"></i>
        </a>
    </div>
    <div class="form-group" ng-show="flag3">
      <label  class="col-sm-3 control-label">shortDesc</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" ng-model="bean.shortDesc"></div>
    </div>
    <div class="form-group" ng-show="flag3">
      <label  class="col-sm-3 control-label">prodDESC</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" ng-model="bean.prodDESC"></div>
    </div>
    <div class="form-group" ng-show="flag3">
      <label  class="col-sm-3 control-label">avail</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" ng-model="bean.avail"></div>
    </div>
    <div class="form-group" ng-show="flag3">
      <label  class="col-sm-3 control-label">cartonQty</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" ng-model="bean.cartonQty"></div>
    </div>
    <div class="form-group" ng-show="flag3">
      <label  class="col-sm-3 control-label">minPurchaseQty</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" ng-model="bean.minPurchaseQty"></div>
    </div>
    <div class="form-group" ng-show="flag3">
      <label  class="col-sm-3 control-label">numOfCarton</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" ng-model="bean.numOfCarton"></div>
    </div>
    <div class="form-group" ng-show="flag3">
      <label  class="col-sm-3 control-label">extraQty</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" ng-model="bean.extraQty"></div>
    </div>
    <div class="form-group" ng-show="flag3">
      <label  class="col-sm-3 control-label">qtyAssigned</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" ng-model="bean.qtyAssigned"></div>
    </div>
    <div class="form-group" ng-show="flag3">
      <label  class="col-sm-3 control-label">cost</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" ng-model="bean.cost"></div>
    </div>
    <div class="form-group">
      <label  class="col-sm-3 control-label">unitID</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" ng-model="bean.unitID"></div>
        <a ng-click="collapsed4=!collapsed4;flag4=!flag4"> <i class="text-lg m-t-sm pull-left u-p16" ng-class="{'mdi-content-remove': collapsed4, 'mdi-content-add': !collapsed4}"></i>
        </a>
    </div>
    <div class="form-group" ng-show="flag4">
      <label  class="col-sm-3 control-label">unitQty</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" ng-model="bean.unitQty"></div>
    </div>
    <div class="form-group" ng-show="flag4">
      <label  class="col-sm-3 control-label">weightKG</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" ng-model="bean.weightKG"></div>
    </div>
    <div class="form-group" ng-show="flag4">
      <label  class="col-sm-3 control-label">widthCM</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" ng-model="bean.widthCM"></div>
    </div>
    <div class="form-group" ng-show="flag4">
      <label  class="col-sm-3 control-label">heightCM</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" ng-model="bean.heightCM"></div>
    </div>
    <div class="form-group" ng-show="flag4">
      <label  class="col-sm-3 control-label">depthCM</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" ng-model="bean.depthCM"></div>
    </div>
    <div class="form-group" ng-show="flag4">
      <label  class="col-sm-3 control-label">imageURL</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" ng-model="bean.imageURL"></div>
    </div>
    <div class="form-group" ng-show="flag4">
      <label  class="col-sm-3 control-label">categoryID</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" ng-model="bean.categoryID"></div>
    </div>
    <div class="form-group" ng-show="flag4">
      <label  class="col-sm-3 control-label">eta</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" ng-model="bean.eta"></div>
    </div>
    <div class="form-group" ng-show="flag4">
      <label  class="col-sm-3 control-label">warningRelocation</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" ng-model="bean.relocationRequired"></div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="ok()">关闭</button>
</div>